services:
  qui:
    image: ghcr.io/autobrr/qui:latest
    container_name: qui
    restart: unless-stopped
    ports:
      - "7476:7476"
    volumes:
      - ${DATA_PATH}/qui:/config
      - /storage:/storage:ro
    #environment: