services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1234
      - PGID=1234
      - TZ=America/Los_Angeles
      - WEBUI_PORT=8080
      - TORRENTING_PORT=2481
    volumes:
      - ${DATA_PATH}/qbittorrent/config:/config
      - ${STORAGE_PATH}:${STORAGE_PATH} #optional
      - ${PATH_2}:${PATH_2} # Optional
    ports:
      - 8520:8080
      - ${TORRENT_PORT}:${TORRENT_PORT}
      - ${TORRENT_PORT}:${TORRENT_PORT}/udp
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

