services:
  broker:
    image: docker.io/library/redis:7
    restart: unless-stopped
    volumes:
      - ${DATA_PATH}/paperless-ngx/redisdata:/data
    container_name: paperless-broker
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  db:
    image: docker.io/library/postgres:15
    restart: unless-stopped
    volumes:
      - ${DATA_PATH}/paperless-ngx/pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    container_name: paperless-db
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - db
      - broker
    container_name: paperless-ngx
    ports:
      - "3450:8000"
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ${DATA_PATH}/paperless-ngx/data:/usr/src/paperless/data
      - ${DATA_PATH}/paperless-ngx/media:/usr/src/paperless/media
      - ${DATA_PATH}/paperless-ngx/export:/usr/src/paperless/export
      - ${DATA_PATH}/paperless-ngx/consume:/usr/src/paperless/consume
      - ${DATA_PATH}/paperless-ngx/trash/:/trash
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
# The UID and GID of the user used to run paperless in the container. Set this
# to your UID and GID on the host so that you have write access to the
# consumption directory.
      USERMAP_UID: 1000
      USERMAP_GID: 100
# Adjust this key if you plan to make paperless available publicly. It should
# be a very long sequence of random characters. You don't need to remember it.
      #PAPERLESS_SECRET_KEY: change-me
# Use this variable to set a timezone for the Paperless Docker containers. If not specified, defaults to UTC.
      PAPERLESS_TIME_ZONE: America/Los_Angeles
# The default language to use for OCR. Set this to the language most of your
# documents are written in.
      PAPERLESS_OCR_LANGUAGE: eng
      PAPERLESS_TRASH_DIR: /trash
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_URL: ${PAPERLESS_URL}
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: >
        {
          "openid_connect": {
            "APPS": [
              {
                "provider_id": "authentik",
                "name": "Authentik",
                "client_id": "${OAUTH_CLIENT_ID}",
                "secret": "OAUTH_CLIENT_SECRET",
                "settings": {
                  "server_url": "${OAUTH_URL}"
                }
              }
            ],
            "OAUTH_PKCE_ENABLED": "True"
          }
        }

    labels:
      - "com.centurylinklabs.watchtower.enable=true"

## Tika and Gotenberg are used to download emails and add to Paperless-NGX
  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.25
    restart: unless-stopped
    container_name: paperless-gotenberg

    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  tika:
    image: docker.io/apache/tika:latest
    container_name: paperless-tika
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"